{{ 'section-badges-slider.css' | asset_url |  stylesheet_tag }}

<section class="badges-slider container">
    <div class="badges-slider__container swiper">
    <div class="navigation-wrap">
        <div class="swiper-button-prev ">
          {% render 'icons', icon: 'slider-prev' %}
        </div>
        <div class="swiper-button-next ">
          {% render 'icons', icon: 'slider-next' %}
        </div>
      </div>
      <div class="badges-slider__wrapper swiper-wrapper">
        {% for block in section.blocks %}
          <div class="badges-slider__slide swiper-slide">
            <div class="badges-slider__image">
              {% render "image", image: block.settings.img %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
</section>

{% schema %}
{
    "name": "Badges slider",
    "settings": [
        
    ],
    "blocks": [
        {
            "name": "Slide",
            "type": "slide",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "img",
                    "label": "Image"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Badges slider"
        }
    ]
}
{% endschema %}