<section class="main-hid-image-banner container">
  <div class="main-hid-image-banner__container">
    <div class="main-hid-image-banner__wrapper swiper-wrapper">
        <div class="main-hid-image-banner__item">
          <div class="main-hid-image-banner__image image">
            {% if section.settings.image != blank  %}
              <img
                src="{{ section.settings.image | image_url }}"
                width="1000"
                height="1000"
                alt="{{ section.settings.image.alt }}"
                class="hidden-mobile">
            {% endif %}
            {% if section.settings.mobile_image != blank  %}
              <img
                src="{{ section.settings.mobile_image | image_url}}"
                width="1000"
                height="1000"
                alt="{{ section.settings.mobile_image.alt }}"
                class="hidden-desktop">
            {% endif %}
          </div>
        </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "HID Image Banner",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Image on mobile"
    }
  ],
  "presets": [
    {
      "category": "HID Landing Page",
      "name": "HID Image Banner"
    }
  ],
}
{% endschema %}