.specifications-tab {
  margin-bottom: 20px;
}
@media screen and (max-width: 990px) {
  .specifications-tab {
    margin-bottom: 8px;
  }
}

.specifications-tab__item {
  background: #f6f1eb;
  padding: 28px 32px;
}
.specifications-tab__item.open .accordion__item-icon svg {
  transform: rotate(90deg);
}
@media screen and (max-width: 990px) {
  .specifications-tab__item {
    padding: 16px 24px;
  }
}

.specifications-tab__trigger {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 990px) {
  .accordion__item-icon svg {
    width: 8px;
    height: 15px;
  }
}

.specifications-tab__question {
  color: #000;
  font-family: "Museo Sans Rounded";
  font-size: 24px;
  font-weight: 400;
  line-height: 120%;
}
@media screen and (max-width: 990px) {
  .specifications-tab__question {
    font-size: 16px;
  }
}

.specifications-tab__content {
  margin-top: 25px;
}

.specifications-tab__content--wrapper {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #c3c3c3;
  padding: 25px 35px 20px;
}
@media screen and (max-width: 990px) {
  .specifications-tab__content--wrapper {
    padding: 25px 0px 20px;
    gap: 10px;
  }
}
.specifications-tab__content--wrapper:last-child {
  border: none;
}

.specifications-tab__content--title {
  width: 50%;
  color: #000;
  text-align: center;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 700;
  line-height: 130%;
}
@media screen and (max-width: 990px) {
  .specifications-tab__content--title {
    font-size: 14px;
  }
}

.specifications-tab__content--value {
  width: 50%;
  color: #000;
  text-align: center;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 130%;
}
@media screen and (max-width: 990px) {
  .specifications-tab__content--value {
    font-size: 14px;
  }
}