.product__slider {
  min-width: 50%;
  width: 50%;
}
@media screen and (max-width: 990px) {
  .product__slider {
    min-width: 100%;
    width: 100%;
    max-height: fit-content;
  }
}

.product__slider-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  overflow: hidden;
  width: 100%;
}
@media screen and (max-width: 990px) {
  .product__slider-container {
    flex-direction: column;
    margin-bottom: 32px;
  }
}

.product__slider-gallery {
  width: calc(100% - 114px);
  margin-left: 24px;
  overflow: hidden;
  height: 100%;
  position: relative;
}
@media screen and (max-width: 990px) {
  .product__slider-gallery {
    max-height: fit-content;
    height: fit-content;
    width: 100%;
    margin-left: 0;
    margin-bottom: 24px;
  }
}
.product__slider-gallery .image {
  min-height: 495px;
  height: 100%;
}
.product__slider-gallery .image::after {
  content: "";
  padding-top: 100%;
  display: block;
}
@media screen and (max-width: 990px) {
  .product__slider-gallery .image::after {
    display: none;
  }
}
@media screen and (max-width: 676px) {
  .product__slider-gallery .image {
    min-height: fit-content;
  }
}
.product__slider-gallery .image::before {
  display: none;
}
@media screen and (max-width: 990px) {
  .product__slider-gallery .image::before {
    display: block;
    padding-top: 92%;
  }
}

.product__slider-next {
  position: absolute;
  bottom: 25px;
  right: 25px;
  width: 60px;
  height: 60px;
  left: inherit !important;
  top: inherit !important;
  margin: 0 !important;
}
.product__slider-next.swiper-button-disabled {
  pointer-events: all;
}
@media screen and (max-width: 990px) {
  .product__slider-next {
    bottom: 17px;
    right: 13px;
    width: 32px;
    height: 32px;
  }
}

.product__slider-prev {
  position: absolute;
  bottom: 25px;
  right: 100px;
  width: 60px;
  height: 60px;
  left: inherit !important;
  top: inherit !important;
  margin: 0 !important;
}
.product__slider-prev.swiper-button-disabled {
  pointer-events: all;
}
@media screen and (max-width: 990px) {
  .product__slider-prev {
    bottom: 17px;
    right: 63px;
    width: 32px;
    height: 32px;
  }
}

.product__slider-next::after,
.product__slider-prev::after {
  content: none;
}

.product__slider-thumbs {
  max-width: 90px;
  width: 100%;
  max-height: 495px;
  height: 100%;
}
@media screen and (max-width: 990px) {
  .product__slider-thumbs {
    max-width: 100%;
    max-height: fit-content;
    height: fit-content;
  }
}
.product__slider-thumbs .product__slider-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 990px) {
  .product__slider-thumbs .product__slider-wrapper {
    flex-direction: row;
    justify-content: flex-start;
  }
}
.product__slider-thumbs .product__slider-slide {
  max-width: 90px;
  max-height: 90px;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 990px) {
  .product__slider-thumbs .product__slider-slide {
    max-width: 50px;
    max-height: 50px;
  }
}

.product__slider-slide {
  height: fit-content;
  width: 100%;
}
.product__slider-slide div {
  display: block !important;
}
.product__slider-slide .image video,
.product__slider-slide .image iframe {
  object-fit: contain;
}