.main-search {
  margin: 24px 0 60px;
}
@media screen and (min-width: 750px) {
  .main-search {
    margin: 32px 0 160px;
  }
}
.main-search__title {
  margin: 0 0 24px;
  text-align: center;
}
@media screen and (min-width: 750px) {
  .main-search__title {
    margin: 0 0 32px;
  }
}
.main-search__form {
  max-width: 500px;
  width: 100%;
  margin: 0 auto 32px;
  position: relative;
}
@media screen and (min-width: 750px) {
  .main-search__form {
    margin: 0 auto 48px;
  }
}
.main-search__input {
  width: 100%;
  padding: 8px 32px 8px 8px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: #fff;
}
.main-search__submit {
  display: block;
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  width: 24px;
}
.main-search__grid {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(1, 1fr);
}
@media screen and (min-width: 750px) {
  .main-search__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 990px) {
  .main-search__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}