<style>
  .store-locator__container.container.page-content {
    background: #FAF9F6;
  }
</style>

{% section 'online-shops' %}
<div class="container page-content store-locator__container">
  {{ page.content }}
</div>
